[user]
  email = lduncalfe@eml.cc
  name = Luke Duncalfe
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow 
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  st = status
  ci = commit
  br = branch
  brls = for-each-ref --sort=committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)'
  co = checkout
  ps = push origin
  pl = pull origin
  plr = pull --rebase origin
  df = diff
  dc = diff --cached
  lg = log --pretty=format:'%ci  %h  %an   %s'
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  which-branch = rev-parse --abbrev-ref HEAD
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
[core]
#  editor = subl -n -w
  editor = code --wait
  excludesfile = ~/.gitignore_global
