[user]
  email = l----@e---
  name = Luke Duncalfe
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[help]
  autocorrect = 20
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  ps = push origin
  pl = pull origin
  plr = pull --rebase origin
  df = diff
  dc = diff --cached
  lg = log --pretty=format:'%ci  %h  %an   %s'
  lola = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  ls = ls-files
[core]
  editor = code --wait
  excludesfile = ~/.gitignore_global
[init]
  templatedir = ~/.git_template
